@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin absolute-centered{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}